<!DOCTYPE html>
@using WebMVC.Helpers;
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/e19e604a67.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="nav_link navbar-brand">Battle Initiative Tracker</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if ((UserRoleEnum)TempData.Peek("role") == UserRoleEnum.none)
                    {
                        <li><a href="/" class="nav_link">Tabela Inicjatywy</a></li>
                        <li><a href="BattleMap" class="nav_link">Battle Map</a></li>

                    }
                    else
                    {
                        <li><a href="/" class="nav_link">Tabela Inicjatywy</a></li>
                        <li><a href="BattleMap" class="nav_link">Battle Map</a></li>
                        <li><a href="User/Logout" class="nav_link">Wyloguj</a></li>
                    }
                </ul>
                
            </div>
        </div>
    </div>
    <div class="container body-content" style="width:100%">




        @if (TempData.Peek("ErrorMessage") != null)
        {
            <div id="Alert-Modal-TempData" class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["ErrorMessage"]<br />
                <br />
                <a role="button" data-toggle="collapse" href="#moreCollapse" aria-expanded="false" aria-controls="moreCollapse">
                    More info >>
                </a>
                <div class="collapse" id="moreCollapse">
                    <div class="well">
                        <div class="error-more">@TempData["ErrorMore"]</div>
                    </div>
                </div>
            </div>
        }
        <div hidden id="Alert-Modal" class="alert alert-danger" role="alert">
            <button type="button" class="close" onclick="document.getElementById('Alert-Modal').hidden = true;"><span aria-hidden="true">&times;</span></button>
            <span id="Alert-Error"></span><br />
            <br />
            <a role="button" data-toggle="collapse" href="#moreCollapse" aria-expanded="false" aria-controls="moreCollapse">
                More info >>
            </a>
            <div class="collapse" id="moreCollapse">
                <div class="well">
                    <div id="Alert-Error-More" class="error-more"></div>
                </div>
            </div>
        </div>


        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
