@model List<BackgroundLogic.Models.CreatureModel>


<h1>Baza stworzeń</h1>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Dodaj stworzenie
</button>

<div style="margin-top:10px;">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a href="#player" aria-controls="player" role="tab" data-toggle="tab">Gracze</a></li>
        <li role="presentation"><a href="#enemy" aria-controls="enemy" role="tab" data-toggle="tab">Przeciwnicy</a></li>
        <li role="presentation"><a href="#npc" aria-controls="npc" role="tab" data-toggle="tab">NPC</a></li>
    </ul>

    




    <div>
        <div class="row" style="font-weight:bold;">
                <div class="col-md-3" style="padding: 0">Nazwa</div>
                <div class="col-md-2" style="padding: 0">PŻ</div>
                <div class="col-md-2" style="padding: 0">Bonus</div>
                <div class="col-md-2" style="padding: 0">AC</div>
                <div class="col-md-2" style="padding: 0"></div>
        </div>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="player">
                <div class="row">
                    @foreach (var item in Model.FindAll(item => item.CreatureType == BackgroundLogic.Helpers.CreatureTypeEnum.player))
                    {
                        <div class="col-md-3" style="padding: 0">@item.Name</div>
                        <div class="col-md-2" style="padding: 0">@item.HP</div>
                        <div class="col-md-2" style="padding: 0">@item.InitiativeBonus</div>
                        <div class="col-md-2" style="padding: 0">@item.AC</div>
                        <div class="col-md-1" style="padding: 0"><a href="../Creature/Delete/@item.Id"><i class="far fa-angry"></i></a></div>

                        <div class="col-md-2" style="width:40px; max-width:40px; padding: 0">
                            <a href="Creature/AddToInit/@item.Id">
                                <i class="fas fa-dice-d20"></i>
                            </a>
                        </div>
                    }
                </div>
            </div>



            <div role="tabpanel" class="tab-pane" id="enemy">
                <div class="row">
                    @foreach (var item in Model.FindAll(item => item.CreatureType == BackgroundLogic.Helpers.CreatureTypeEnum.enemy))
                    {
                        <div class="col-md-3" style="padding: 0">@item.Name</div>
                        <div class="col-md-2" style="padding: 0">@item.HP</div>
                        <div class="col-md-2" style="padding: 0">@item.InitiativeBonus</div>
                        <div class="col-md-2" style="padding: 0">@item.AC</div>
                        <div class="col-md-1" style="padding: 0"><a href="../Creature/Delete/@item.Id"><i class="far fa-angry"></i></a></div>

                        <div class="col-md-2" style="width:40px; max-width:40px; padding: 0">
                            <a href="Creature/AddToInit/@item.Id">
                                <i class="fas fa-dice-d20"></i>
                            </a>
                        </div>
                    }
                </div>
            </div>



            <div role="tabpanel" class="tab-pane" id="npc">
                <div class="row">
                    @foreach (var item in Model.FindAll(item => item.CreatureType == BackgroundLogic.Helpers.CreatureTypeEnum.npc))

                    {
                        <div class="col-md-3" style="padding: 0">@item.Name</div>
                        <div class="col-md-2" style="padding: 0">@item.HP</div>
                        <div class="col-md-2" style="padding: 0">@item.InitiativeBonus</div>
                        <div class="col-md-2" style="padding: 0">@item.AC</div>
                        <div class="col-md-1" style="padding: 0"><a href="../Creature/Delete/@item.Id"><i class="far fa-angry"></i></a></div>

                        <div class="col-md-2" style="width:40px; max-width:40px; padding: 0">
                            <a href="Creature/AddToInit/@item.Id">
                                <i class="fas fa-dice-d20"></i>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
        
    </div>


</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Dodaj stworzenie</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create",
                        "Creature",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken();
                        
                    <div>
                        <table class="table">
                            <tr>
                                <th scope="row">Rodzaj stworzenia</th>
                                <td>@Html.DropDownList("CreatureType", new SelectList(new List<string> { "player", "enemy", "npc" }))</td>
                            </tr>
                            <tr>
                                <th scope="row">Nazwa</th>
                                <td><input id="Name-Input" name="Name" type="text" value="" style="max-width: 300px; width: 300px;" /></td>
                            </tr>
                            <tr>
                                <th scope="row">HP</th>
                                <td><input id="HP-Input" name="HP" type="number" value="" style="max-width: 50px" /></td>
                            </tr>
                            <tr>
                                <th scope="row">Bonus do inicatywy</th>
                                <td><input id="InitiativeBonus-Input" name="InitiativeBonus" type="number" value="" style="max-width: 50px" /></td>
                            </tr>
                            <tr>
                                <th scope="row">AC</th>
                                <td><input id="AC-Input" name="AC" type="number" value="" style="max-width: 50px" /></td>
                            </tr> 
                            <tr>
                                <th scope="row"></th>
                                <td><input type="submit" value="Dodaj" class="btn btn-primary" id="Submit-Button" /></td>
                            </tr>
                                                                                                                                                                                                                                                                                                                              
                        </table>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>