@model WebMVC.Models.InitaitiveTransViewModel

@{
    ViewBag.Title = "Inicjatywa";
}

<h1>Inicjatywa</h1>
<hr />

<div class="row" style="margin:5px">
    <div class="col-md-3" style="border-right:1px solid #ddd">
        @Html.Partial("~/Views/Creature/CreatureListPartial.cshtml", Model.CreatureList)
    </div>
    <div class="col-md-5">
        <div>
            <a href="../Initiative/Clear" class="btn btn-default">Wyczyść</a>
            <a href="../Initiative/RerollAll" class="btn btn-default">Przelosuj</a>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Inicjatywa</th>
                    <th scope="col">Nazwa</th>
                    <th scope="col">PŻ</th>
                    <th scope="col">Bonus</th>
                    <th scope="col">AC</th>
                    <th scope="col">Usuń</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Data)
                {
                    using (Html.BeginForm("Update",
                            "Initiative",
                            FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken();
                        <tr>
                            <td><input onchange="highlightButton(@item.Id)" name="Initiative" type="number" value="@item.Initiative" style="max-width:40px;" /></td>
                            <td>@item.Name</td>
                            <td><input onchange="highlightButton(@item.Id)" name="HP" type="number" value="@item.HP" style="max-width: 50px" /></td>
                            <td>@item.InitiativeBonus</td>
                            <td>@item.AC</td>
                            <td><a href="../Initiative/Delete/@item.Id"><i class="far fa-angry" style="width: 80px; max-width: 80px"></i></a></td>
                            <td><input type="submit" value="Zmień" class="btn btn-default" id="@item.Id-Submit-Button" /></td>
                            <td><input hidden name="Id" type="number" value="@item.Id"></td>
                        </tr>
                    }
                }


                @using (Html.BeginForm("Create",
                        "Initiative",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken();

                    <tr>
                        <td><input id="Initiative-Input" name="Initiative" type="number" value="0" style="max-width:40px;" /></td>
                        <td><input id="Name-Input" name="Name" type="text" value="" style="max-width: 400px; width: 400px;" /></td>
                        <td><input id="HP-Input" name="HP" type="number" value="0" style="max-width: 50px" /></td>
                        <td><input id="InitiativeBonus-Input" name="InitiativeBonus" type="number" value="0" style="max-width: 40px" /></td>
                        <td><input id="AC-Input" name="AC" type="number" value="0" style="max-width: 40px" /></td>
                        <td>
                            @Html.DropDownList("CreatureType", new SelectList(new List<string> { "player", "enemy", "npc" }))
                        </td>
                        <td><input type="submit" value="Dodaj" class="btn btn-primary" id="Submit-Button"/></td>
                    </tr>




                }
            </tbody>
        </table>
    </div>

</div>


@section Scripts
{
    @Scripts.Render("~/Scripts/InitiativeMenagement.js")
}